* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

header .container {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid black;
}

header .container .header_con {
  width: 1300px;
  margin: 0 auto;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header_con .header_img {
  width: 190px;
}

header .container .header_con .header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .header_con .header_list .header_item {
  margin: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header_con .header_list .header_item .header_link {
  color: black;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  -webkit-transition: .2s;
  transition: .2s;
}

header .container .header_con .header_list .header_item .header_link:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  border-bottom: 1px solid black;
}

header .container .header_con .header_side {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header_con .header_side .header_search {
  font-size: 23px;
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

header .container .header_con .header_side .header_shop {
  font-size: 23px;
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

header .container .header_con .header_side .header_search:hover, header .container .header_con .header_side .header_shop:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  border-bottom: 1px solid black;
}

main .container {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid black;
}

main .container .main_con {
  width: 1300px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 550px;
  border-radius: 32px;
  background-color: #DCE5E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

main .container .main_con .main_part_one {
  width: 50%;
  height: 100%;
  padding: 40px;
}

main .container .main_con .main_part_one .main_text {
  font-size: 58px;
  font-weight: 500;
  margin-top: 120px;
  font-family: 'Readex Pro', sans-serif;
  line-height: 60px;
}

main .container .main_con .main_part_one .main_subtext {
  font-size: 17px;
  margin-top: 20px;
}

main .container .main_con .main_part_one .main_link {
  margin-top: 40px;
  color: black;
  font-size: large;
  padding: 10px 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  -webkit-transition: .4s;
  transition: .4s;
}

main .container .main_con .main_part_one .main_link:hover {
  background-color: black;
  color: white;
}

main .container .main_con .main_part_two {
  width: 50%;
  height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

main .container .main_con:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .container .main_con:hover .main_part_two {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

section .container {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid black;
}

section .container .section_con {
  width: 1300px;
  margin: 0 auto;
  height: 1000px;
  text-align: center;
}

section .container .section_con .section_text {
  font-size: 45px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
  margin-top: 20px;
}

section .container .section_con .section_subtext {
  font-size: 17;
  width: 700px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: 'Readex Pro', sans-serif;
}

section .container .section_con .section_list {
  width: 1300px;
  height: 800px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .container .section_con .section_list .section_item {
  width: 50%;
  height: 100%;
}

section .container .section_con .section_list .section_item .section_laptop {
  width: 640px;
  height: 470px;
  -webkit-box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.3);
          box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.3);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

section .container .section_con .section_list .section_item .section_laptop .laptop {
  width: 500px;
  height: 380px;
  margin-right: 50px;
}

section .container .section_con .section_list .section_item .section_laptop .laptop_info {
  width: 200px;
  margin-left: 400px;
  text-align: end;
}

section .container .section_con .section_list .section_item .section_laptop .laptop_info .laptop_text {
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section .container .section_con .section_list .section_item .section_laptop .laptop_info .laptop_subtext {
  font-size: 31px;
  line-height: 30px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
}

section .container .section_con .section_list .section_item .section_laptop:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.5);
}

section .container .section_con .section_list .section_item .section_watch {
  width: 640px;
  height: 270px;
  margin-top: 60px;
  -webkit-box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.3);
          box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.3);
  -webkit-transition: .3s all;
  transition: .3s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .container .section_con .section_list .section_item .section_watch .watch {
  width: 380px;
  height: 270px;
}

section .container .section_con .section_list .section_item .section_watch .watch_info {
  text-align: end;
  width: 125px;
}

section .container .section_con .section_list .section_item .section_watch .watch_info .watch_text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
}

section .container .section_con .section_list .section_item .section_watch .watch_info .watch_subtext {
  font-size: 31px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
}

section .container .section_con .section_list .section_item .section_watch:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.5);
}

section .container .section_con .section_list .section_item_two {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .container .section_con .section_list .section_item_two .section_phone {
  width: 47%;
  height: 100%;
  -webkit-box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.3);
          box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.3);
  -webkit-transition: .3s all;
  transition: .3s all;
}

section .container .section_con .section_list .section_item_two .section_phone .phone_one {
  margin-top: 150px;
}

section .container .section_con .section_list .section_item_two .section_phone .phone_info1 {
  margin-top: 30px;
}

section .container .section_con .section_list .section_item_two .section_phone .phone_info1 .phone_text {
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section .container .section_con .section_list .section_item_two .section_phone .phone_info1 .phone_subtext {
  margin: 0 auto;
  width: 250px;
  font-size: 31px;
  font-weight: 500;
  font-family: 'Readex Pro', sans-serif;
}

section .container .section_con .section_list .section_item_two .section_phone .phone_info2 {
  margin-top: 150px;
}

section .container .section_con .section_list .section_item_two .section_phone .phone_info2 .phone_text {
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section .container .section_con .section_list .section_item_two .section_phone .phone_info2 .phone_subtext {
  margin: 0 auto;
  width: 250px;
  font-size: 31px;
  font-weight: 500;
  font-family: 'Readex Pro', sans-serif;
}

section .container .section_con .section_list .section_item_two .section_phone .phone_two {
  margin-top: 50px;
}

section .container .section_con .section_list .section_item_two .section_phone:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.5);
}

section .container {
  width: 1440px;
  margin: 0 auto;
}

section .container .section_con2 {
  width: 1300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

section .container .section_con2 .section_text {
  font-size: 45px;
  font-weight: 500;
}

section .container .section_con2 .section_subtext {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}

section .container .section_con2 .section_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

section .container .section_con2 .section_list .section_item {
  height: 420px;
  width: 20%;
  text-align: start;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  border-radius: 10px;
  padding: 10px;
}

section .container .section_con2 .section_list .section_item .item_text {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Readex Pro', sans-serif;
}

section .container .section_con2 .section_list .section_item .item_subtext {
  margin-top: 5px;
  color: #4B4B4B;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section .container .section_con2 .section_list .section_item .item_price {
  font-size: 19px;
  margin-top: 20px;
  font-weight: 500;
}

section .container .section_con2 .section_list .section_item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.5);
}

section .container {
  width: 1440px;
  margin: 0 auto;
}

section .container .section_con3 {
  width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

section .container .section_con3 .section_text {
  font-size: 45px;
  font-weight: 500;
  font-family: 'Readex Pro', sans-serif;
}

section .container .section_con3 .section_subtext {
  font-size: 12.5px;
  font-weight: 500;
  font-family: 'Readex Pro', sans-serif;
}

section .container .section_con3 .section_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

section .container .section_con3 .section_list .section_item {
  width: 31%;
  height: 450px;
  border-radius: 16px;
  background: #F8F9FA;
  padding: 20px;
  text-align: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

section .container .section_con3 .section_list .section_item .item_text {
  font-size: 17px;
  margin-top: 40px;
  font-weight: 500;
  font-family: 'Readex Pro', sans-serif;
}

section .container .section_con3 .section_list .section_item .item_subtext {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Readex Pro', sans-serif;
}

section .container .section_con3 .section_list .section_item .item_link {
  margin-top: 20px;
  padding: 15px 50px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 30px;
  color: black;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
}

section .container .section_con3 .section_list .section_item .item_link:hover {
  background-color: black;
  color: white;
}

section .container .section_con3 .section_list .section_item .item_img {
  margin-top: 30px;
  width: 80%;
  height: 220px;
}

section .container .section_con3 .section_list .section_item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.5);
}

section .container {
  width: 1440px;
  margin: 0 auto;
}

section .container .section_con4 {
  width: 1330px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

section .container .section_con4 .section_text {
  font-size: 45px;
  font-weight: 500;
  font-family: 'Readex Pro', sans-serif;
}

section .container .section_con4 .section_subtext {
  font-size: 15px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
}

section .container .section_con4 .section_box {
  width: 1330px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

section .container .section_con4 .section_box .section_part1 {
  width: 50%;
  height: 100%;
  padding: 30px;
}

section .container .section_con4 .section_box .section_part1 .part1_img {
  width: 100%;
}

section .container .section_con4 .section_box .section_part2 {
  width: 45%;
  height: 100%;
  text-align: start;
}

section .container .section_con4 .section_box .section_part2 .part_text {
  font-size: 23px;
  font-family: 'Readex Pro', sans-serif;
  margin-top: 30px;
}

section .container .section_con4 .section_link {
  color: black;
  font-size: 25px;
  font-weight: 400;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  padding: 5px 5px;
}

section .container .section_con4 .section_link:hover {
  border-bottom: 1px solid black;
}

section .container {
  width: 1440px;
  margin: 0 auto;
}

section .container .section_con5 {
  width: 1330px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

section .container .section_con5 .section_text {
  font-size: 45px;
  font-weight: 500;
  font-family: 'Readex Pro', sans-serif;
}

section .container .section_con5 .section_input {
  width: 700px;
  height: 70px;
  border-radius: 100px;
  font-size: larger;
  padding: 0px 30px;
  margin-top: 30px;
  text-transform: capitalize;
}

section .container .section_con5 .searches {
  margin: 0 auto;
  width: 640px;
  height: 120px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .container .section_con5 .searches .section_link {
  padding: 12px 22px;
  font-size: 19px;
  color: black;
  border: 1px solid gray;
  border-radius: 50px;
  margin: 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

section .container .section_con5 .searches .section_link:hover {
  border: 1px solid black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: black;
  color: white;
}

section .container .section_con5 .rectangle {
  margin: 0 auto;
  width: 1000px;
  height: 610px;
  margin-top: 100px;
  border-radius: 16px;
  background-color: #DCE5E2;
  text-align: center;
}

section .container .section_con5 .rectangle .rectangle_text {
  font-size: 42px;
  font-weight: 500;
  font-family: 'Readex Pro', sans-serif;
  padding-top: 50px;
}

section .container .section_con5 .rectangle .rectangle_subtext {
  font-size: large;
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section .container .section_con5 .rectangle .rectangle_img {
  margin: 0 auto;
  width: 28%;
  margin-top: 20px;
}

section .container .section_con5 .rectangle label {
  width: 600px;
  height: 80px;
  margin: 0 auto;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

section .container .section_con5 .rectangle label .rectangle_inp {
  width: 420px;
  height: 80px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  padding: 0px 30px;
  text-transform: capitalize;
  font-weight: 500;
  border: 3px solid #323232;
  background-color: #4b4b4b00;
}

section .container .section_con5 .rectangle label .rectangle_link {
  width: 180px;
  height: 80px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: 'Readex Pro', sans-serif;
}

footer .container {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #F8F9FA;
}

footer .container .footer_con {
  width: 1330px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .footer_con .left_side {
  width: 330px;
  height: 280px;
  border-bottom: 1px solid #DCE5E2;
}

footer .container .footer_con .left_side .left_img {
  width: 190px;
}

footer .container .footer_con .left_side .text_left_side {
  margin-top: 15px;
  font-size: 19px;
  font-weight: 500;
  width: 330px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer .container .footer_con .right_side {
  width: 1000px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  border-bottom: 1px solid #DCE5E2;
}

footer .container .footer_con .right_side .sides {
  width: 210px;
  height: 100%;
}

footer .container .footer_con .right_side .sides .right_text {
  font-size: 25px;
  font-weight: 600;
}

footer .container .footer_con .right_side .sides .right_subtext {
  margin-top: 15px;
  font-size: larger;
}
/*# sourceMappingURL=style.css.map */