*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    // font-family: 'Readex Pro', sans-serif;
}
header{
    .container{
        width: 1440px;
        margin: 0 auto;
        .header_con{
            width: 1300px;
            margin: 0 auto;
            height: 85px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header_img{
                width: 190px;
            }
            .header_list{
                display: flex;
                .header_item{
                    margin: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .header_link{
                        color: black;
                        text-transform: uppercase;
                        font-size: 17px;
                        font-weight: 500;
                        transition: .2s;
                    }
                    .header_link:hover{
                        transform: scale(1.06);
                        border-bottom: 1px solid black;
                    }
                }
            }
            .header_side{
                width: 170px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .header_search{
                    font-size: 23px;
                    color: black;
                    transition: .2s;
                }
                .header_shop{
                    font-size: 23px;
                    color: black;
                    transition: .2s;
                }
                .header_search:hover, .header_shop:hover {
                    transform: scale(1.06);
                        border-bottom: 1px solid black;
                }
            }
        }
    }
}
main{
    .container{
        width: 1440px;
        margin: 0 auto;
        .main_con{
            width: 1300px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            height: 550px;
            border-radius: 32px;
            background-color: #DCE5E2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: .3s ease;
            .main_part_one{
                width: 50%;
                height: 100%;
                padding: 40px;
                .main_text{
                    font-size: 58px;
                    font-weight: 500;
                    margin-top: 120px;
                    font-family: 'Readex Pro', sans-serif;
                    line-height: 60px;
                }
                .main_subtext{
                    font-size: 17px;
                    margin-top: 20px;
                }
                .main_link{
                    margin-top: 40px;
                    color:black;
                    font-size: large;
                    padding: 10px 40px;
                    border: 1px solid rgba(0, 0, 0, 0.300);
                    border-radius: 30px;
                    transition: .4s;
                }
                .main_link:hover{
                    background-color: black;
                    color: white;
                }
            }
            .main_part_two{
                width: 50%;
                height: 100%;
                transition: .5s ease;
            }
            
        }
        .main_con:hover{
            transform: scale(1.05); 
            .main_part_two{
                transform: scale(1.08);
            }
        }
    }
}
section{
    .container{
        width: 1440px;
        margin: 0 auto;
        .section_con{
            width: 1300px;
            margin: 0 auto;
            height: 1000px;
            text-align: center;
            .section_text{
                font-size: 45px;
                font-family: 'Readex Pro', sans-serif;
                font-weight: 500;
                margin-top: 20px;
            }
            .section_subtext{
                font-size: 17;
                width: 700px;
                margin: 0 auto;
                margin-top: 10px;
                font-family: 'Readex Pro', sans-serif;
            }
            .section_list{
                width: 1300px;
                height: 800px;
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .section_item{
                    width: 50%;
                    height: 100%;
                    .section_laptop{
                        width: 640px;
                        height: 475px;
                        box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.300);
                        transition: .3s ease;
                        .laptop{
                            width: 500px;
                            height: 380px;
                            margin-right: 50px;                           
                        }  
                        .laptop_info{
                            width: 200px;
                            margin-left: 400px;
                            text-align: end;
                            .laptop_text{
                                font-size: larger;
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            }
                            .laptop_subtext{
                                font-size: 31px;
                                line-height: 30px;
                                font-family: 'Readex Pro', sans-serif;
                                font-weight: 500;
                            }
                        }                      
                    }
                    .section_laptop:hover{
                        transform: scale(1.05);
                        box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.500);
                    }
                    .section_watch{
                        width: 640px;
                        height: 270px;
                        margin-top: 60px;
                        box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.300);
                        transition: .3s all;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        .watch{
                            width: 380px;
                            height: 270px;
                        }
                        .watch_info{
                            text-align: end;
                            width: 125px;
                            .watch_text{
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                font-size: larger;
                            }
                            .watch_subtext{
                                font-size: 31px;
                                font-family: 'Readex Pro', sans-serif;
                                font-weight: 500;
                            }
                        }
                    }
                    .section_watch:hover{
                        transform: scale(1.05);
                        box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.500);
                    }
                }
                .section_item_two{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    .section_phone{
                        width: 47%;
                        height: 100%;
                        box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.300);
                        transition: .3s all;
                        .phone_one{                           
                            margin-top:150px;
                        }
                        .phone_info1{
                            margin-top: 30px;
                            .phone_text{
                                font-size: larger;
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            }
                            .phone_subtext{
                                margin: 0 auto;
                                width: 250px;
                                font-size: 31px;
                                font-weight: 500;
                                font-family: 'Readex Pro', sans-serif;
                            }
                        }
                        .phone_info2{
                            margin-top: 150px;
                            .phone_text{
                                font-size: larger;
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            }
                            .phone_subtext{
                                margin: 0 auto;
                                width: 250px;
                                font-size: 31px;
                                font-weight: 500;
                                font-family: 'Readex Pro', sans-serif;
                            }
                        }
                        .phone_two{                           
                            margin-top:50px;
                        }
                    }
                    .section_phone:hover{
                        transform: scale(1.05);
                        box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.500);
                    }
                }
            }
        }
    }
}
section{
    .container{
        width: 1440px;
        margin: 0 auto;
        .section_con2{
            width: 1300px;
            margin: 0 auto;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
            .section_text{
                font-size: 45px;
                font-weight: 500;
            }
            .section_subtext{
                font-size: 15px;
                font-weight: 500;
                margin-top: 10px;
            }
            .section_list{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 50px;
                .section_item{    
                    height: 420px;
                    width: 20%;
                    text-align: start;
                    transition: .4s ease;
                    border-radius: 10px;

                    padding: 10px;
                    .item_text{
                        margin-top: 30px;
                        font-size: 24px;
                        font-weight: 500;
                        font-family: 'Readex Pro', sans-serif;
                    }
                    .item_subtext{
                        margin-top: 5px;
                        color: #4B4B4B;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                    .item_price{
                        font-size: 19px;
                        margin-top: 20px;
                        font-weight: 500;
                    }
                }
                .section_item:hover{
                    transform: scale(1.05);
                        box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.500);
                }
            }
        }
    }
}
section{
    .container{
        width: 1440px;
        margin: 0 auto;
        .section_con3{
            width: 1300px;
            margin: 0 auto;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 50px;
            .section_text{
                font-size: 45px;
                font-weight: 500;
                font-family: 'Readex Pro', sans-serif;
            }
            .section_subtext{
                font-size: 12.5px;
                font-weight: 500;
                font-family: 'Readex Pro', sans-serif;
            }
            .section_list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 50px;
                .section_item{
                    width: 31%;
                    height: 450px;
                    border-radius: 16px;
                    background: #F8F9FA;
                    padding: 20px;
                    text-align: center;
                    transition: .5s ease;
                    .item_text{
                        font-size: 17px;
                        margin-top: 40px;
                        font-weight: 500;
                        font-family: 'Readex Pro', sans-serif;  
                    }
                    .item_subtext{
                        font-size: 30px;
                        font-weight: 500;
                        font-family: 'Readex Pro', sans-serif;
                    }
                    .item_link{
                        margin-top: 20px;
                        padding: 15px 50px ;
                        font-size: 18px;
                        border: 1px solid black;
                        border-radius: 30px;
                        color: black;
                        font-weight: 500;
                        transition: .5s;
                    }
                    .item_link:hover{
                        background-color: black;
                        color: white;
                    }
                    .item_img{
                        margin-top: 30px;
                        width: 80%;
                        height: 220px;
                        
                    }
                }
                .section_item:hover{
                    transform: scale(1.05);
                        box-shadow: 0px 1px 20px 5px rgba(128, 128, 128, 0.500);
                }
            }
        }
    }
}
section{
    .container{
        width: 1440px;
        margin: 0 auto;
        .section_con4{
            width: 1330px;
            margin: 0 auto;
            padding-top: 30px;
            padding-bottom: 50px;
            text-align: center;
            .section_text{
                font-size: 45px;
                font-weight: 500;
                font-family: 'Readex Pro', sans-serif
            }
            .section_subtext{
                font-size: 15px;
                font-family: 'Readex Pro', sans-serif;
                font-weight: 500;
            }
            .section_box{
                width: 1330px;
                height: 500px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                .section_part1{
                    width: 50%;
                    height: 100%;
                    padding: 30px;
                    .part1_img{
                        width: 100%;
                    }
                }
                .section_part2{
                    width: 45%;
                    height: 100%;
                    text-align: start;
                    .part_text{
                        font-size: 23px;
                        font-family: 'Readex Pro', sans-serif;
                        margin-top: 30px;
                    }
                }
            }
            .section_link{
                color: black;
                font-size: 25px;
                font-weight: 400;
                transition: .5s ease;
                padding: 5px 5px ;
            }
            .section_link:hover{
                border-bottom: 1px solid black;
            }
        }
    }
}
section{
    .container{
        width: 1440px;
        margin: 0 auto;
        .section_con5{
            width: 1330px;
            margin: 0 auto;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            .section_text{
                font-size: 45px;
                font-weight: 500;
                font-family: 'Readex Pro', sans-serif;
            }
            .section_input{
                width: 700px;
                height: 70px;
                border-radius: 100px;
                font-size: larger;
                padding: 0px 30px;
                margin-top: 30px;
                text-transform: capitalize;
            }
            .searches{
                margin: 0 auto;
                width: 640px;
                height: 120px;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .section_link{
                    padding: 12px 22px;
                    font-size: 19px;
                    color: black;
                    border: 1px solid gray;
                    border-radius: 50px;
                    margin: 5px;
                    transition: .4s;
                }
                .section_link:hover{
                    border: 1px solid black;
                    transform: scale(1.05);
                    background-color: black;
                    color: white;
                }
            }
            .rectangle{
                margin: 0 auto;
                width: 1000px;
                height: 610px;  
                margin-top: 100px;
                border-radius: 16px;
                background-color: #DCE5E2;
                text-align: center;
                .rectangle_text{
                    font-size: 42px;
                    font-weight: 500;
                    font-family: 'Readex Pro', sans-serif;
                    padding-top: 50px;
                }
                .rectangle_subtext{
                    font-size: large;
                    margin-top: 10px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                .rectangle_img{
                    margin: 0 auto;
                    width: 28%;
                    margin-top: 20px;
                }
                label{
                    width: 600px;
                    height: 80px;
                    margin: 0 auto  ;
                    display: block;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 10px;
                    .rectangle_inp{
                        width: 420px;
                        height: 80px;
                        border-top-left-radius: 100px;
                        border-bottom-left-radius: 100px;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-size:20px;
                        padding: 0px 30px;
                        text-transform: capitalize;
                        font-weight: 500;
                        border: 3px solid rgb(50, 50, 50);
                        background-color: #4b4b4b00;
                    }
                    .rectangle_link{
                        width: 180px;
                        height: 80px;
                        border-top-right-radius: 100px;
                        border-bottom-right-radius: 100px;
                        border: 1px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: black;
                        color: white;
                        font-size: 20px;
                        font-family: 'Readex Pro', sans-serif;
                    }
                }
            }
        }
    }
}
footer{
    background-color: #F8F9FA;
    .container{
        width: 1440px;
        margin: 0 auto;
        background-color: #F8F9FA;
        .footer_con{
            width: 1330px;
            margin: 0 auto;
            padding-top: 60px;
            padding-bottom: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left_side{
                width: 330px;
                height: 220px;
                border-bottom: 1px solid #DCE5E2;
                .left_img{
                    width: 190px;   
                }
                .text_left_side{
                    margin-top: 15px;
                    font-size: 19px;
                    font-weight: 500;
                    width: 330px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
            .right_side{
                width: 1000px;
                height: 220px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding-left: 50px;
                border-bottom: 1px solid #DCE5E2;
                .sides{
                    width: 210px;
                    height: 100%;
                    .right_text{
                        font-size: 27px;
                        font-weight: 600;
                    }
                    .right_subtext{
                        width: 160px;
                        display: block;
                        margin-top: 15px;
                        font-size: larger;
                        font-weight: 500;
                        color: black;
                        transition: .3s ease;
                    }
                    .right_subtext:hover{
                        transform: scale(1.05);
                        border-bottom: 2px solid black;
                    }
                }
            }
        }
    }
}