*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    width: 100%;
}
header{
    .container{
        width: 1140px;
        margin: 0 auto;
        border: 1px solid black;
        height: 100px;
        font-family: 'Sigmar One', cursive;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_part_one{
            width: 300px;
        }
        .link{
            width: 120px;
            height: 100px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
        }
        .header_part_two{
            width: 300px;
            border: 1px solid black;
            display: flex;
            justify-content: space-evenly;
            .shop_link{
                font-size: 15px;
            }
            .contact_link{
                font-size: 15px;
            }
        }
    }
}
nav{
    width: 1140px;
    margin: 0 auto;
    border: 1px solid black;
    height: 50px;
}
main{
    width: 1140px;
    margin: 0 auto;
    border: 1px solid black;
    height: 200px;
}
section{
    width: 1140px;
    margin: 0 auto;
    border: 1px solid black;
    height: 500px;
}
footer{
    width: 1140px;
    margin: 0 auto;
    border: 1px solid black;
    height: 50px;
}